


.black-background {
  background-color:rgb(23,55,95);
  color :white;
}
.white {color:#ffffff;}


#title {
  color: white;
}

.form-control
{
  margin-right: 0px;
  padding-right: 0px;
}
.container
{
  background-color: #f3f4f7;
  border-radius: 4px;
  padding: 1.5%;
}
#adr{
  font-family:FiraSans,sans-serif;
  padding-top: 2%;
  padding-bottom: 10px;
}
/* Customize the label (the container) */
.custom-check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-right: 14.5%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px ;

}



/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


@media screen and (min-width: 600px) {
  #adv-search {
    width: 240px;
    margin: 0 auto;

  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 250px;
  }
}



.card-dimensions {
  height: 162px;
  width: 23%;
}

.card {
  font-family: sans-serif;
  font-size: 18px;
  background: #D2D2D2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-container {
  justify-content: start;
}

.icon-pos {
  position: absolute;
  top: 25px;
}

.search-bar {
  min-width: 348px;
  text-indent: 30px !important;
  box-sizing: border-box;
}

.search-drop-down {
  position: absolute;
  width: 17%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  background-color: #F6F6F6;
  font-family: sans-serif;
  opacity: 0.98;
}

.search-results {
  padding: 10px;
}

.search-results:hover {
  background: #707070;
}

.color-purple {
  color: #A550BC;
}
