<div id="home">
<br/>
<br/>
<br/>

<h3 class="display-3" id="title">L'envoi de colis moins cher et simple</h3>
<br/>
<br/>
<div class="container">
  <form  (ngSubmit)="onSubmit()" method="post" [formGroup]='stateForm' autocomplete="new-password" >
    <div class="row" >
      <div class="col"><p class="font-weight-bold"  >Départ</p></div>
      <div class="col"><p class="font-weight-bold">Arrivée</p></div>
      <div class="col"><p class="font-weight-bold">Colis</p></div>
      <div class="w-100"></div>

      <div class="col">
        <select    [(ngModel)]="DepartCountry" name="DepartCountry" class="form-control form-control-lg">
          <option value="Maroc" >Maroc</option>

        </select>
      </div>
      <div class="col-xs-4">
        <div>
          <input [(ngModel)]="DepartCity" name="DepartCity" class="form-control form-control-lg" type="text" placeholder="Code postal ou ville" required>
        </div>
      </div>


      <div class="col">
        <select [(ngModel)]="ArrivedCountry" name="ArrivedCountry" class="form-control form-control-lg" >
          <option *ngFor="let country of countries" [value]="country.countryName" required>
            {{country.countryName}}
        </select>
      </div>

      <div class="col-xs-4">
        <div>
          <input id='search' name="ArrivedCity" class="form-control form-control-lg" type="text" splaceholder="Search for a state" formControlName='search' (click)=' openDropDown() ' >

            <div clickOutside (clickOutside)="closeDropDown()">
              <div *ngIf='showDropDown' class='search-drop-down '>
                <div (click)='selectValue(s)' class='search-results ' *ngFor="let s of states | searchFilter: getSearchValue()">
                  <a [innerHTML]="s | letterBold: getSearchValue()">
                    {{s}}
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>


      <div class="col">
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group" id="adv-search">
                <input  class="form-control form-control-lg" placeholder="Poids , dimension" />
                <div class="input-group-btn">
                  <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                      <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label>Poids (kg)</label>
                            <input  [(ngModel)]="Poids" name="Poids" class="form-control" type="number" />
                          </div>
                          <div class="form-group">
                            <label>Longeur (cm)</label>
                            <input [(ngModel)]="Longeur"  name="Longeur" class="form-control" type="number" />
                          </div>
                          <div class="form-group">
                            <label >Largeur (cm)</label>
                            <input [(ngModel)]="Largeur" name="Largeur" class="form-control" type="number" />
                          </div>
                          <div class="form-group">
                            <label >Hauteur (cm)</label>
                            <input  [(ngModel)]="Hauteur" name="Hauteur" class="form-control" type="number" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button  type="submit" class="btn btn-lg black-background">Comparer</button>
      </div>
    </div>
    <div id="adr">
      <label class="custom-check">Je suis un particulier
        <input type="checkbox" >
        <span class="checkmark"></span>
      </label>
      <label class="custom-check">J'envoie à un particulier
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </form>
</div>
</div>


