table {
  border: 1px solid black;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 2px;
}
.day
{
  font-size: 20px;
}
.tableHead
{
  border: 1px solid silver;
  background-color:  rgb(243,244,247);
  width: 100%;
  padding: 4%;
}
.info
{
  margin-left: 2%;
}
#offres
{

  font-family:Arial, Helvetica, sans-serif;
}

.price
{

  font-size: 120%;
}
.offre{
  color:midnightblue;
}

td
{
  text-align:center;
  vertical-align:middle;
  font-family:sans-serif;
}
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 6em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}


.button {
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding:  12px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.carrier{
  text-align: center;
  font-size: 200%;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  font-family:monospace;
  font-weight: bold;

}
.progressbar li:before {

  width: 30px;
  height: 30px;
  content: "\2713";
  counter-increment: step;
  line-height: 30px;
  border: 3px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

}
.progressbar li:after {

  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;

  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #008CBA;

}
.progressbar li.active:before {
  border-color: #008CBA;
  color: white;
  background-color: #008CBA;

}
.progressbar li.active + li:after {
  background-color: #008CBA;

}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px 36px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background-color: #008CBA;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
}

.dropdown-content a {
  color:white;
  padding: 10px 36px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.modal-body input
{
  width: 140px;
  padding: 12px 0px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.button1 {
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding:  12px 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}


.button2 {
  border-radius: 4px;
  background-color: orangered;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding:  12px 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.modal-body , .modal-header , .modal-footer
{
  background-color: rgb(243,244,247);

}
.val
{
  margin-left: 30px;
}
.client
{
  background-color: red;

}

#depart, #arrivee, #date{

  border:1px solid silver;
  float:left;
  padding: 20px;
  width: 33%;
  height: 100%;
}

#depart input[type="text"],select
{
  width: 100%;
}



#radio1,#radio11
{
  border-radius: 5px 0px;
}

input[type=radio] {
  display:none;

}

input[type=radio] + label {
   display:inline-block;
  margin:-4px;
  line-height: 20px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 2px solid;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgb(23,55,95);
  padding: 10px 14px;
  font-size: 110%;



}

input[type=radio]:checked + label, input[type=checkbox]:checked + label{
  background-color:  rgb(23,55,95);
  color: white;

}

.containerstep
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top:60px;
  left: 0px;
  z-index:10;
  background-color: white;
}

