

<div class="containerstep" >
  <ul class="progressbar">
    <li class="active"> Votre envoi de colis</li>
    <li >Les offres</li>
    <li>Commande</li>
    <li>Paiement</li>
    <li>Confirmation</li>
  </ul>
</div>
<br/>
<br/>
<br/>
<br/>
<div id="offres"  >
<br/>
 <div class="info">
  <p><span class="font-italic" style="color: slategray;"> Vous allez envoyer :
  </span> <strong> 1 colis  </strong> de <strong>Téléviseurs , écrans d'ordinateur </strong>, de
    <strong>{{Poids}} kg </strong> et de<strong> {{Longeur}} cm x {{Largeur}} cm x {{Hauteur}} cm </strong>
    <button type="button" class="modify-btn"  (click)="openModal(template)">Modifer</button>
  </p>
  <p>Départ de <strong> zibcode {{DepartCity}} ({{DepartCountry}})</strong> vers
    <strong>zibcode {{ArrivedCity}} ({{ArrivedCountry}})</strong> prévu le <strong> 2 juin 2018</strong>
    <button type="button" class="modify-btn"  (click)="openModalTwo(template2)">Modifer</button>
  </p>
 </div>




  <ng-template #template>
    <div class="modal-header">
       <h6 class='col-12 modal-title text-center'>Modifier la nature, le poids et/ou la taille de mon (ou mes) colis</h6>
    </div>
    <div class="modal-body">
      <input type="number" placeholder="Poids de coli"/>
      <input type="number" placeholder="Longeur cm"/>
      <input type="number" placeholder="Largeur cm"/>
      <input type="number" placeholder="Hauteur cm"/>
      <input type="number" class="val" placeholder="Valeur en DH"/>
    </div>
    <div class="modal-footer">
     <button class="button1">Ajouter un coli</button>
      <button class="button2">Valider</button>
    </div>
  </ng-template>


  <ng-template #template2>
    <div class="modal-header">
      <h6 class='col-12 modal-title text-center'>Modifier le point de départ, le point de livraison et/ou la date de départ</h6>
    </div>
    <div class="modal-body">
      <div id='depart'>
       <h6> Au départ</h6>
        <div class="client">
          <input type="radio" id="radio1" name="radios" value="all" checked>
          <label class="labl" for="radio1">Entreprise</label>
          <input type="radio" id="radio2" name="radios" value="false">
          <label  class="labl" for="radio2">Particulier</label>
        </div>
       <br/>
        <div>
          <input type="text" readonly>
          <br/> <br/> <br/>
          <input type="text" >
        </div>
      </div>

      <div id='arrivee'>
        <h6>À l’arrivée</h6>
        <div class="client">
          <input type="radio" id="radio11" name="radios" value="all" checked>
          <label class="labl" for="radio11">Entreprise</label>
          <input type="radio" id="radio22" name="radios"value="false">
          <label  class="labl" for="radio22">Particulier</label>
        </div>
        <br/><br/>
          <select>
            <option>tets</option>
          </select>
          <br/> <br/> <br/>
        <input type="text">
      </div>

      <div id='date'>
        <h6> Jour de départ</h6>
        <input type="datetime-local">
      </div>
    </div>
    <div class="modal-footer">

      <button class="button2">Valider</button>
    </div>
  </ng-template>
   <div >
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="tableHead">
        <div class="dropdown">
          <button (click)="myFunction()" class="dropbtn">Trier par prix croissant<i class="arrow down"></i> </button>
          <div id="myDropdown" class="dropdown-content">
            <a href="">Trier par prix croissant </a>
            <a href="">Trier par prix décroissant </a>
            <a href="">Trier par  Transporteur </a>
            <a href="">Trier par  Délai </a>
          </div>
        </div>
      </div>
      <table class="table table-hover">

        <tr class="offre">
        <td><span class="carrier"> <a (click)="info(carrier,'info')"> <img src="../../assets/images/upse.png"> </a></span></td>
          <td class="day">3 jours</td>
          <td>
            <time datetime="2014-09-20" class="icon">
              <strong>Juin</strong>
              <span>4</span>
            </time>

          </td>
          <td>
            <time datetime="2014-09-20" class="icon">
              <strong>Juin</strong>
              <span>8</span>
            </time>
          </td>
        <td >
          <h2 class="price">1700 MAD</h2>
        </td>
          <td><button routerLink="/commande" type="button" class="button"><span>Choisir l'offre</span></button></td>
      </tr>
        <tr class="offre">
          <td><span class="carrier"> <img src="../../assets/images/dhle.png">  </span></td>
          <td class="day">3 jours</td>
          <td>
            <time datetime="2014-09-20" class="icon">
              <strong>Juin</strong>
              <span>4</span>
            </time>

          </td>
          <td>
            <time datetime="2014-09-20" class="icon">
              <strong>Juin</strong>
              <span>8</span>
            </time>
          </td>
          <td >
            <h2 class="price">1700 MAD</h2>
            <span class="purchase-button">Sans assurance</span>
          </td>
          <td><button routerLink="/commande" type="button" class="button"><span>Choisir l'offre</span></button></td>
        </tr>
        <tr class="offre">
        <td><span class="carrier"> <img src="../../assets/images/chrp.png"> </span></td>
        <td class="day">3 jours</td>
        <td>
          <time datetime="2014-09-20" class="icon">
            <strong>Juin</strong>
            <span>4</span>
          </time>

        </td>
        <td>
          <time datetime="2014-09-20" class="icon">
            <strong>Juin</strong>
            <span>8</span>
          </time>
        </td>
        <td >
          <h2 class="price">1700 MAD</h2>
          <span class="purchase-button">Sans assurance</span>
        </td>
        <td><button routerLink="/commande" type="button" class="button"><span>Choisir l'offre</span></button></td>
      </tr>
      </table>
    </div>
  </div>
</div>

</div>
</div>


<ng-template #carrier>

  <div class="modal-body">
    PackSuiviEurope

    Vous déposez votre envoi dans un Point Relais® à partir du 11/06/2018
    Livraison prévue à l'adresse du destinataire le 20/06/2018 avant 18:00
    Délai non garanti
    Suivi en ligne possible
    Assurance contractuelle en cas de perte, détérioration ou spoliation de votre envoi : indemnité 12 €/kilo dans une limite de 180 €

  </div>
  <div>
    <button class="button" (click)="modalRef.hide()">Fermer</button>
  </div>
</ng-template>
