
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img src="../../assets/images/logo.png">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button class="button" href="#">Envoyer un colis<span class="sr-only nav-link" >(current)</span></button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong>Comment ça marche</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong>Ressources</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong>Aide</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong>À propos</strong></a>
      </li>
      <button class="button" routerLink="/suivis">Suivis</button>
    </ul>


      <li class="nav nav-item">
        <button type="button" routerLink="/Creation-compte" class="button">Créer un compte</button>
      </li>
      <li class="nav nav-item">
        <button class="button" type="button" routerLink="/Login">Se connecter</button>
      </li>



  </div>
</nav>
