nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.button {
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding:5px 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
