<div class="signup">
<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step col-xs-3">
        <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
      </div>
      <div class="stepwizard-step col-xs-3">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
      </div>

    </div>
  </div>


<br/>

  <form role="form">
    <div class="panel panel-primary setup-content" id="step-1">
      <div class="type">
        <input type="radio" id="radio1" name="radios" value="all" checked>
        <label class="labl" for="radio1">Entreprise</label>
        <input type="radio" id="radio2" name="radios"value="false">
        <label  class="labl" for="radio2">Particulier</label>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input maxlength="100" type="text" required="required"  placeholder="Nom *" />
        </div>
        <div class="form-group">
          <input maxlength="100" type="text" required="required"  placeholder="Prénom *" />
        </div>
        <div class="form-group">
          <input maxlength="100" type="text" required="required"  placeholder="E-mail *" />
        </div>
        <div class="form-group">
          <input maxlength="100" type="text" required="required"   placeholder="Mot de passe *" />
        </div>
        <div class="form-group">
          <input maxlength="100" type="text" required="required"  placeholder="Confirmation du Mot de passe *" />
        </div>
        <button class="cfrm nextBtn pull-right" type="button">Suite</button>
      </div>
    </div>

    <div class="panel panel-primary setup-content" id="step-2">

      <div class="panel-body">
        <div class="form-group">
          <select>
            <option selected>--Pays--</option>
            <option>Maroc</option>
          </select>
        </div>

        <div class="form-group">
          <input maxlength="200" type="text" required="required"  placeholder="ville *" />
        </div>
        <div class="form-group">
          <input maxlength="200" type="text" required="required"  placeholder="Rue *" />
        </div>
        <div class="form-group">
          <input maxlength="200" type="text" required="required"  placeholder="Téléphone *" />
        </div>
        <div class="form-group">
          <label class="custom-check"> J'accepte les conditions générales de vente
            <input type="checkbox" >
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group">
          <label class="custom-check">Je souhaite recevoir les conseils de ColiMove pour mes expéditions ainsi que les offres spéciales
            <input type="checkbox" >
            <span class="checkmark"></span>
          </label>

        </div>
        <button class="cfrm" type="button">Valider</button>
      </div>
    </div>
  </form>
</div>
<div class="inf">
  <h4>Créez un compte ColiMove, c’est simple et gratuit</h4>
  <h6>Bénéficiez de REMISES supplémentaires.</h6>
  <ul>
    <li>Tarifs jusqu’à -75%</li>
    <li>Une facturation unique et sans surprise</li>
  </ul>
  <h6>Accédez à TOUTES vos expéditions 24H/24</h6>
  <ul>
  <li>Créez, suivez ou annulez vos envois en ligne</li>
  <li>Accélérez vos envois avec le carnet d’adresses intelligent</li>
  </ul>
  <h6>Profitez de tous les avantages de la CENTRALE d’expédition</h6>
  <ul>
    <li>Tous vos envois : à traiter, en cours ou expédiés dans un seul endroit</li>
    <li>Toutes les solutions e-commerce accessibles</li>
  </ul>
  <h6>Gérez vos envois avec un SERVICE CLIENT unique</h6>
 <ul>
 <li>Des experts à votre écoute disponibles par téléphone et par email</li>
   <li>Un Service Client made in France basé à Paris</li>
 </ul>
</div>
</div>
