<div class="containerstep">
  <ul class="progressbar">
    <li class="active"> Votre envoi de colis</li>
    <li class="active" >Les offres</li>
    <li>Commande</li>
    <li>Paiement</li>
    <li>Confirmation</li>
  </ul>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="info">
  <p><span class="font-italic" style="color: slategray;"> Vous allez envoyer :
  </span> <strong> 1 colis  </strong> de <strong>Téléviseurs , écrans d'ordinateur </strong>, de
    <strong>sqdq kg </strong> et de<strong> dqdq cm x dqdqd cm x dqdqs cm </strong>
    <a href="" class="modify-btn">Modifer</a>
  </p>
  <p>Départ de <strong> zibcode dqdqs dqdssd</strong> vers
    <strong>zibcode dqsdd dqsdsd</strong> prévu le <strong> 2 juin 2018</strong>
    <a href="" class="modify-btn">Modifer</a>
  </p>
</div>
<br>
<div class="selcted">
  <table>
  <tr class="offre">
    <td><span class="carrier"> <img src="../../assets/images/upse.png"> </span></td>
    <td class="day">3 jours</td>
    <td>
      <time datetime="2014-09-20" class="icon">
        <strong>Juin</strong>
        <span>4</span>
      </time>

    </td>
    <td>
      <time datetime="2014-09-20" class="icon">
        <strong>Juin</strong>
        <span>8</span>
      </time>
    </td>
    <td >
      <h2 class="price">1700 MAD</h2>
    </td>
  </tr>
  </table>
  <div class="total"> <span style="font-size: 13px">Total : </span>  1800 MAD (1752 TTC)</div>
</div>
<div>
  <form>
  <div id="exp">
    <div class="header">Contact expéditeur</div>
    <div class="contact">
      <input type="text" placeholder="Prénom*"/>
      <input type="text" placeholder="Nom*"/><br/>
      <input type="text" placeholder="Adresse*"/>
      <input type="text" class="small" readonly/>
      <input type="text" class="small" readonly/><br/>
      <input type="text" placeholder="Complément (interphone, étage, indications pour livreur)"/>
      <input type="text" class="small" placeholder="Mobile*"/>
      <input type="text" class="small" placeholder="Email*"/><br/>
    </div>
  </div>
  <div id="dist">
    <div class="header">Contact destinataire
      <label class="custom-check">Envoyer un email au destinataire
        <input type="checkbox" >
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="contact">
      <input type="text" placeholder="Prénom*"/>
      <input type="text" placeholder="Nom*"/><br/>
      <input type="text" placeholder="Adresse*"/>
      <input type="text" class="small"/>
      <input type="text" class="small"/><br/>
      <input type="text" placeholder="Complément (interphone, étage, indications pour livreur)"/>
      <input type="text" class="small" placeholder="Mobile*"/>
      <input type="text" class="small" placeholder="Email*"/><br/>
    </div>
  </div>


    <br/>
<h5 style="margin-left: 8%">Informations à destination des douanes</h5>
    <div class="douane">
      <div class="header">
        Raison d'envoi
        <select>
        <option>test1</option>
        <option>test2</option>
      </select>
      </div>
      <div class="infodouane">
      <input type="text">
        <select>
          <option>Maroc</option>
        </select>
        <br/>
        <input type="number">
        <input type="number">
        <input type="number">
      </div>
    </div>

    <div id="info">
      <div class="header">Informations importantes
      </div>
      <div class="contact">
        <label class="custom-check">Je certifie que mon envoi ne contient aucune des marchandises interdites <a href="">voir la liste</a>
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <br/>
        <div class="interdit">
          <table>
            <tr>
              <td><img src="../../assets/images/aerosol.png"></td>
              <td><img src="../../assets/images/parfum.png"></td>
              <td><img src="../../assets/images/batterie.png"></td>
              <td><img src="../../assets/images/machine.png"></td>
              <td><img src="../../assets/images/perissable.png"></td>
              <td><img src="../../assets/images/valise.png"></td>
              <td><img src="../../assets/images/passeport.png"></td>
              <td><img src="../../assets/images/tableau.png"></td>
            </tr>
            <tr>
              <td>aérosols</td>
              <td>parfum</td>
              <td>batterie lithium</td>
              <td>électroménager</td>
              <td>produits périssables</td>
              <td>valise</td>
              <td>documents personnels</td>
              <td>oeuvres originales</td>
            </tr>
          </table>
        </div>

        <h6>Ni aucun produit portant l'un des pictogrammes suivants :</h6>
        <img  class="center"   src="../../assets/images/forbidden-goods.png">
        <br/>
        <label class="custom-check"><p style="font-size: 90%">En cochant cette case, je déclare avoir pris
          connaissance des<a href=""> Conditions Générales de Vente et d'Utilisation</a> du site coliMove.com </p>
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
      </div>

    </div>
    <button class="rtr" >Retour</button>
    <button  class="cfrm" >Confirmer</button>
  </form>
</div>
</div>


