.containerstep
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top:60px;
  left: 0px;
  z-index:10;
  background-color: white;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  font-family:monospace;
  font-weight: bold;

}
.progressbar li:before {

  width: 30px;
  height: 30px;
  content: "\2713";
  counter-increment: step;
  line-height: 30px;
  border: 3px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {

  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;

  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #008CBA;
}
.progressbar li.active:before {
  border-color: #008CBA;
  color: white;
  background-color: #008CBA;
}
.progressbar li.active + li:after {
  background-color: #008CBA;
}

.container
{
border-radius: 4px;
border-color: silver;
padding: 1.5%;
background-color:white;
font-family:Arial, Helvetica, sans-serif;
}

#exp{
  border: 1px solid silver;
  border-radius: 4px;
  margin-bottom: 50px;
}
#exp .contact{
  border-top:  1px solid silver;
  background-color: rgb(243,244,247);
  padding: 4%;
}

#exp .header
{
  padding: 2%;
  font-size: 20px;
  font-weight: bold;
}
#dist
{
  border: 1px solid silver;
  border-radius: 4px;
}

#dist .contact{
  border-top:  1px solid silver;
  background-color: rgb(243,244,247);
  padding: 4%;
}

#dist .header
{
  font-size: 20px;
  font-weight: bold;
  padding: 2%;
}
.contact input[type=text]:not(.small),.contact select{
  width: 45%;
  padding: 12px 20px;
  margin: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 1px solid #555;

}

.small{
  width: 21.5%;
  padding: 12px 20px;
  margin: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#dist .header .sendmail{
  margin-left:500px ;
}

#info{
  margin-top: 10%;
  border: 1px solid silver;
  border-radius: 4px;
}

#info .header
{
  font-size: 20px;
  font-weight: bold;
  padding: 2%;
}
#info .contact{
  border-top:  1px solid silver;
  background-color: rgb(243,244,247);
  padding: 4%;
}


.cfrm
{
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 695px;
}
.rtr
{
  border-radius: 4px;
  background-color: rgb(243,244,247);
  border: none;
  color: silver;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.custom-check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px ;

}



/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.douane{
  margin-top: 4%;
  width: 50%;
  border: 1px solid silver;
  border-radius: 4px;
}

.header
{
  font-size: 20px;
  font-weight: bold;
  padding: 2%;
}

.infodouane{
  border-top:  1px solid silver;
  background-color: rgb(243,244,247);
  padding: 4%;
}


.infodouane input[type="text"],select
{
  width: 300px;
  padding: 12px 20px;
  margin: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;

}
.infodouane input[type="number"]
{
  width: 92px;
  padding: 12px 20px;
  margin-left: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}




.day
{
  font-size: 20px;
}

table
{
  border: 1px solid rgb(23,55,95);
  width: 100%;
  border-radius: 2px 2px 0px 0px;

}

td{
  padding: 1% 0%;
}

.info
{
  margin-left: 2%;
}
#offres
{

  font-family:Arial, Helvetica, sans-serif;
}

.price
{

  font-size: 120%;
}
.offre{
  color:midnightblue;

}

td
{
  text-align:center;
  vertical-align:middle;
  font-family:sans-serif;
}
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 6em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.carrier{
  text-align: center;
  font-size: 200%;
}

.total
{
  border: 1px solid black;
  background-color: rgb(23,55,95);
  text-align: right;
  color: white;
  font-size: 120%;
  font-weight: bold;
  padding: 1.5%;
  margin-bottom: 1%;
  border-radius: 0px 0px 5px 5px;
}
.info
{
  margin-left: 2%;
}


.interdit
{
  margin-left: 5%;
}

.interdit table
{
  border: none;
}

.interdit table td
{
  width: 10%;
  text-align: center;
  color:rgb(23,55,95);
  padding-top: 0%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
