<div class="container">
  <h4 style="text-align: center">Connexion</h4>
  <br/>
  <form>
    <div class="form-group">
      <input maxlength="200" type="text" required="required"  placeholder="Email *" />
    </div>
    <div class="form-group">
      <input maxlength="200" type="text" required="required"  placeholder="Mot de passe *" />
    </div>
    <div style="text-align: center">
    <input type="submit"  class="cfrm" value="Connexion">
    </div>
    <div>
      Pas encore de compte ?
      <a href="/Creation-compte">Inscrivez-vous</a> et bénéficiez de tarifs et services exclusifs.
    </div>
  </form>
</div>
