.container
{
  margin-top: 10%;
  width: 30%;
}
input[type=text],select{
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 4%;
}

.cfrm
{
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 6px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;

}
