<div class="panel panel-default" >
  <app-menu1></app-menu1>
  <div class="container spacer">
    <router-outlet></router-outlet>
  </div>

  <br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br>
  <br>

</div>
