
<br/>
<br/>
<br/>



    <form [formGroup]='stateForm' autocomplete="new-password" novalidate>
      <input id='search' placeholder="Search for a state" formControlName='search' (click)=' openDropDown() ' class=' input-underline search-bar ' type='text'>
    </form>
    <div clickOutside (clickOutside)="closeDropDown()">
      <div *ngIf='showDropDown' class='search-drop-down '>
        <div (click)='selectValue(s)' class='search-results ' *ngFor="let s of states | searchFilter: getSearchValue()">
          <a [innerHTML]="s | letterBold: getSearchValue()">
            {{s}}
          </a>
        </div>
      </div>
    </div>


