
<div class="container spacer shadow-lg p-3 mb-5 bg-white rounded">
  <div class="panel panel-primary" *ngIf="mode1==1">
    <div class="panel-heading spacer"><h2><strong>Suivi de votre colis</strong></h2></div>
    <div class="panel-body">
      <div class="row">
        <div class="w-100"></div>
        <div class="col-5 spacer">
          <label>Saisissez le numéro de référence Boxtal de votre envoi : </label>
        </div>
        <div class="col-4 spacer">
          <input class="form-control" type="text" placeholder="La référence du colis">
        </div>
        <div class="col spacer">
          <button type="button" class="btn btn-primary" (click)="rechercheSuivi()">Recherche</button>
        </div>
        <br>



        <div class="container spacer">
        <div class="row">
          <div class="col"><strong>Le suivi de colis pour la sérénité</strong></div>
          <div class="col"><strong>Comment le colis suivi est-il localisé ?</strong></div>
        </div>

          <div class="row">
            <div class="col">Vous souhaitez effectuer le suivi de colis pour vous assurer du bon acheminement de votre envoi ? Avec Coli-Move, c’est non seulement possible mais également très facile ! Profitez du suivi de colis en ligne pour localiser votre envoi à tout moment. Vous pouvez suivre toutes les étapes d’acheminement de votre envoi, jusqu’à la livraison de votre colis à l’adresse internationale. Votre colis suivi n’a jamais été aussi simple à localiser.</div>
            <div class="col"> Lorsque vous réservez une prestation de transport sur Coli-Move, vous recevez à la confirmation de votre commande, le numéro de référence de votre envoi et votre bordereau d’expédition. Ces deux derniers documents permettent d’effectuer le suivi de colis et même d’effectuer le suivi colis international. Avec votre numéro de référence, vous accédez en ligne, 24h/24, aux informations concernant le colis suivi. Un lien direct vous permet notamment de consulter la page de suivi de colis du transporteur.</div>
          </div>

          <div class="row spacer">
            <div class="col"><strong>Comment le colis suivi est-il localisé ?</strong></div>
            <div class="col"><strong>Votre suivi de colis plus facile</strong></div>
          </div>

          <div class="row">
            <div class="col">Lorsque vous réservez une prestation de transport sur Coli-Move, vous recevez à la confirmation de votre commande, le numéro de référence de votre envoi et votre bordereau d’expédition. Ces deux derniers documents permettent d’effectuer le suivi de colis et même d’effectuer le suivi colis international. Avec votre numéro de référence, vous accédez en ligne, 24h/24, aux informations concernant le colis suivi. Un lien direct vous permet notamment de consulter la page de suivi de colis du transporteur.</div>
            <div class="col">Effectuer le suivi de colis n’a jamais été aussi simple avec Coli-Move. Que ce soit le suivi colis international ou tout simplement le colis suivi en France, vous pouvez toujours accéder au suivi en ligne de Boxtal. Préparez votre envoi et le suivi de colis en toute tranquillité sur le site Coli-Move.</div>
          </div>

      </div>
     </div>
    </div>
  </div>




  <div class="panel panel-primary" *ngIf="mode1==2">
    <div class="panel-heading spacer"><h2><strong>Suivi de votre colis</strong></h2></div>
    <div class="panel-body">
      <div class="row">
        <div class="w-100"></div>
        <div class="col-5 spacer">
          <label>Saisissez le numéro de référence Boxtal de votre envoi : </label>
        </div>
        <div class="col-4 spacer">
          <input class="form-control" type="text" placeholder="La référence du colis">
        </div>
        <div class="col spacer">
          <button type="button" class="btn btn-primary" (click)="rechercheSuivi()">Recherche</button>
        </div>
        <br>


        <div class="container">
          <div class="row">
            <div class="col spacer">
              <div class="control-label"><strong class="text-primary">Reciever name : </strong><label>test</label></div>
            </div>
            <div class="col spacer">
              <div class="control-label"><strong class="text-primary">Reciever city : </strong><label>test</label></div>
            </div>
            <div class="col spacer">
              <div class="control-label"><strong class="text-primary">Reciever country : </strong><label>test</label></div>
            </div>
            <div class="col spacer">
              <div class="control-label"><strong class="text-primary">Zip code : </strong><label>test</label></div>
            </div>
          </div>
        </div>

        <table class="table table-hover table-dark spacer">
          <thead>
          <tr>
            <th scope="col">Date time</th>
            <th scope="col">Event discription</th>
            <th scope="col">Reason description</th>
            <th scope="col">lieu</th>
          </tr>
          </thead>

          <tr>
            <td> test </td>
            <td> test </td>
            <td> test </td>
            <td> test </td>
          </tr>
        </table>

      </div>
    </div>
  </div>



</div>
