/* You can add global styles to this file, and also import other style files */

.spacer{
  margin-top: 50px;
}



.bg-img
{
  background-image: url('assets/images/bg.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bod
{
  background-color: rgb(243,244,247);
}
.modify-btn
{
  background-color: white;
  border: 2px solid silver;
  border-radius: 6px;
  padding: 0.5% 1%;
  color: #008CBA;


}

.modify-btn:hover
{
  background-color: rgb(243,244,247);
  text-decoration: none;
}

.my-modal
{
  width: 150%;
}
.my-modal .modal-body
{
  background-color: silver;
}


.depart
{
  float: left;
  background-color: red;
  width: 50%;
  height: 100%;
}

.arrivee
{
  background-color: black;
  width: 50%;

}
